/* .bg-dark is the color used for the navbar. Replace with your theme color. */
/* .bg-dark {
    background-color: #fff !important;    
} */


/* .bg-dark is the color used for the navbar. Replace with your theme color. */
.bg-dark {
    background-color: #fff !important;    
} 


.al-logo img {
    max-height: 40px;
}

.al-title {
    font-family: "Oswald", sans-serif;
}

.da-pad-for-navbar {
    padding-top: 70px;
}

.da-top-for-navbar {
    top: 70px;
}



/* text next to logo on nav bar */
.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: #002968;
    --bs-navbar-brand-hover-color: #002968;
    text-decoration: none;
    white-space: nowrap;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


/* this is the font style for the body of the interview */
body {
  font-family: "Arimo", sans-serif;
  color: #000000;
}

/* --------------------------------------------------------------------
                          DARK MODE VISUALS
   --------------------------------------------------------------------*/

function myFunction() {
  var element = document.body;
  element.classList.toggle("dark-mode");
}

body {
  background-color: #fff;
  margin: 0;
}

.dark-mode {
  background-color: rgb(220, 220, 220);
  color: #fff;
}

.form-control {
  color: #000;
  background-color: #f2faff;
  outline-color: #000;
}

.row {
.form-control:focus {
  color: #000;
  }
}
/*.input {
  color: #000
}*/

.form-select {
  color: #000;
  background-color: #fff
}

.row {
.form-select:focus {
  color: #000;
  }  
}

[data-bs-theme=dark] .al_collapse_template .bg-light, [data-bs-theme=dark] .al_display_template .bg-light, [data-bs-theme=dark] .al_display_template.bg-light {
    --bs-bg-opacity: 1;
    background-color: #f6f6f6 !important;
    border-color: #d3d4d5 !important;
    scrollbar-color: #999999 #ededed; /* First color for thumb, second for track */
}

.text-start.btn.btn-light.dalabelauty {
      --bs-btn-color: #000;
      --bs-btn-bg: #f2faff;
      --bs-btn-border-color: #f8f9fa;
      --bs-btn-hover-color: #000;    
      --bs-btn-hover-bg: #eeeeee;
      --bs-btn-hover-border-color: #eeeeee;
}

/* Signature block*/
[data-bs-theme=dark] #dasigcanvas {
    background-color: #eeee;
}

input:-webkit-autofill {
    -webkit-text-fill-color: black;
    transition: background-color 5000s ease-in-out 0s;
}

/*blue box near the top of the final page*/
.alert-success {
    --bs-alert-color: #002968;
    --bs-alert-bg: #8ac1ef;
    --bs-alert-border-color: #8ac1ef;
    --bs-alert-link-color: #002968;
}

/*Email block on final page*/
.card {
    --bs-card-cap-bg: #eee;
    --bs-card-cap-color: #000;
    --bs-card-color: #000;
    --bs-card-bg: #fff;
}

/* checkbox on the Email Block on the last page*/
.form-check-input {
    background-color: #fff;
}

/*Download button on last page*/
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #000;
    background-color: #fff;
    border-color: #000;
    border-top-color: ;
    border-right-color: ;
    border-left-color: ;
    border-bottom-color: #eee0;
}


/* --------------------------------------------------------------------
                          END OF DARK MODE
   --------------------------------------------------------------------*/



/* This is for the color of nav the buttons and primary buttons - Stripped from inspect */
.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #002968;
    --bs-nav-pill-text-align: center;
    justify-content: center;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/*text on far right of nav bar and "Review Your Answers Button"*/
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #337ab7;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #002968;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #337ab7;
    --bs-btn-hover-border-color: #337ab7;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #002968;
    --bs-btn-active-border-color: #002968;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #adb5bd;
    --bs-btn-disabled-border-color: #adb5bd;
}

.btn-info {
    --bs-btn-color: #fff;
    --bs-btn-bg: #198754;
    --bs-btn-border-color: #198754;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #337ab7;
    --bs-btn-hover-border-color: #337ab7;
    --bs-btn-focus-shadow-rgb: 11,172,204;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #3dd5f3;
    --bs-btn-active-border-color: #25cff2;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #0dcaf0;
    --bs-btn-disabled-border-color: #0dcaf0;
}

.btn-secondary {
    --bs-btn-color: #000;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #002968;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #337ab7;
    --bs-btn-hover-border-color: #337ab7;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #002968;
    --bs-btn-active-border-color: #002968;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}

/*keeping colors after selection is checked*/
.da-form-group .btn[aria-checked="true"],
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active,
.da-form-group .btn:checked,
.da-form-group .btn-check:checked + .btn {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
}


/* Progress Bar */
.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--bs-progress-bar-color);
    text-align: center;
    white-space: nowrap;
    background-color: #002968; 
    transition: var(--bs-progress-bar-transition);
    
}

.row {
    --bs-gutter-x: 20.5rem;
    --bs-gutter-y: -1.5em;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

/* specific shape/type of progress bar */
.progress, .progress-stacked {
  width:600px;
  height:22px;
  border-radius: 20px;
  color: #000;
  border:2px solid;
  position: relative;
  --bs-progress-bg: #eeeeee;
}
.progress-6::before {
  content:"";
  position: absolute;
  margin:2px;
  inset:0 100% 0 0;
  border-radius: inherit;
  background:#002968;
}
@keyframes p6 {
    100% {inset:0}
}

/*Address question spacing */
.row>* {
        padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y)*;
}

.row {
    --bs-gutter-x: 2.5rem;
    --bs-gutter-y: -.5em;

  
/*box shadow around text boxes*/
.form-control:focus {
    color: #000;
    background-color: var(--bs-form-control-bg);
    border-color: #002968;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(2, 68, 66,.25);
}

/*progress bar margin*/
.mt-2 {
  margin-top: 2.0rem !important;
}
  
/*====================================================================================================== 
Progress Bar on mobile || 375 x 812 || Default, Portrait and Landscape 
======================================================================================================== */
@media only screen and (min-width: 375px) 
and (max-width: 812px){ 
    .progress, .progress-stacked {
      width:350px;
      height:22px;
      background-color: #eeeeee;/*{display: none !important; visibility: hidden !important;}*/
  }
    .form-control {
      color: #000;
      background-color: #f2faff;
      outline-color: #000;
  }
    .form-select {
      color: #000;
      background-color: #eeeeee;
  }
    .text-start.btn.btn-light.dalabelauty {
      --bs-btn-color: #000;
      --bs-btn-bg: #f8f9fa;
      --bs-btn-border-color: #f8f9fa;
  }
    .row {
      --bs-gutter-x: 2.5rem;
      --bs-gutter-y: .5rem;
  }
    .mt-2 {
      margin-top: 2.0rem !important;
  }
}
  
@media only screen and (min-width: 375px) 
and (max-width: 812x) and (orientation: portrait) { 
    .progress, .progress-stacked {
      width:350px;
      height:22px;
      background-color: #eeeeee;/*{display: none !important; visibility: hidden !important;}*/
  }
    .form-control {
      color: #000;
      background-color: #f2faff;
      outline-color: #000;
  }
    .form-select {
      color: #000;
      background-color: #eeeeee;
  }   
    .text-start.btn.btn-light.dalabelauty {
      --bs-btn-color: #000;
      --bs-btn-bg: #f8f9fa;
      --bs-btn-border-color: #f8f9fa;
  }
    .row {
      --bs-gutter-x: 2.5rem;
      --bs-gutter-y: .5rem;
  }
    .mt-2 {
      margin-top: 2.0rem !important;
  }
}
  
@media only screen and (min-width: 375px) 
and (max-width: 812px) and (orientation: landscape) { 
    .progress, .progress-stacked {
      width:500px;
      height:22px;
      background-color: #eeeeee;/*{display: none !important; visibility: hidden !important;}*/
  }      
    .form-control {
      color: #000;
      background-color: #f2faff;
      outline-color: #000;
  }
    .form-select {
      color: #000;
      background-color: #eeeeee;
  } 
    .text-start.btn.btn-light.dalabelauty {
      --bs-btn-color: #000;
      --bs-btn-bg: #f8f9fa;
      --bs-btn-border-color: #f8f9fa;
  }
    .row {
      --bs-gutter-x: 2.5rem;
      --bs-gutter-y: .5rem;
  }
    .mt-2 {
      margin-top: 2.0rem !important;
  }
}
  
